/*
******************************
CSS Reset codes Starts
******************************
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
******************************
CSS Reset codes Ends
******************************
*/


/*
******************************
top style starts
******************************
*/
#top{
	background-image: url("../images/Brandly.jpg");
	background-position: center 0px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*menu styling starts*/
#menu{
	z-index: 9999;
}
.menu-bg{
    background:rgba(50,51,56,1);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.menu-fixed{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: 'Open sans',sans-serif;
    position: relative;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li:before{ 
  position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #fff;
    top: 45%;
    left: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; 
    opacity: 0;
}
.navbar-default .navbar-nav > li:after{
	position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #cd2b2d;
    bottom: 45%;
    left: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    opacity: 0;
}
.navbar-default .navbar-nav > li:hover:before{
	top:0;
    opacity: 1;
}
.navbar-default .navbar-nav > li:hover:after{
	bottom:0;
    opacity: 1;
}
.navbar-default .navbar-nav > li:active:before{
	top:30%;
}
.navbar-default .navbar-nav > li:active:after{
	bottom:30%;
}
.navbar-right {
    margin-top: 10px;
}

#menu .affix{
	position: fixed;
    top: 0;
    width: 100%;
}

.affix-top,.navbar{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}
.navbar-toggle {
	margin-top: 10px;
	margin-bottom: 0px;
}
/*menu styling ends*/





/*slider styling starts*/

.carousel-inner > .item {
        padding-top: 140px;
    margin-top: 270px;
    margin-bottom: 140px;
}
.carousel-caption h4{
	font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}
.carousel-caption h4:first-child{
	letter-spacing: 6px;
}
.carousel-caption h1{
	 font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin: 25px 0;
}
.carousel-caption .btn{
	position: relative;
}
.carousel-caption .btn:after{
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.carousel-caption .btn-custom{
	    text-transform: uppercase;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border-radius: 0px;
    border: 2px solid #fff;
    padding: 6px 18px;
    outline: none;
    overflow: hidden;
}

.carousel-caption .btn-custom:after{
		width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.carousel-caption .btn-custom:hover:after{
	height: 260%;
	opacity: 1;
}



.carousel-caption .btn-custom:hover,.carousel-caption .btn-custom:active{
	color: #36373A;
	outline: none;
	background-color:transparent;
	border-color:#fff;
}
.carousel-caption .btn-custom:active:after{
	height: 400%;
	opacity: 1;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px transparent;box-shadow: inset 0 0px 0px transparent;
}
.carousel-indicators .active {
    background-color: transparent;
}    
.carousel-indicators li{
    background-color: #fff;
}
/*slider styling starts*/

/*
******************************
top style end
******************************
*/



/*
******************************
product style start
******************************
*/
#product{
	padding: 55px 0px;
}
.section-title h1{
	position: relative;
    font-family: 'Open sans',sans-serif;
    font-size: 2em;
    font-style: italic;
    padding: 20px 0;
}
.section-title h1:before,.section-title h1:after{
	position: absolute;
	content: '';
	width: 100px;
	height: 3px;
	background-color: #dc0000;
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-moz-transform: translateX(-50%); 
}
.section-title h1:before{
	top: 0;
	left: 50%;
}
.section-title h1:after{
	bottom: 0;
	left: 50%;

}

/*product-section-1 starts here*/
.product-section-1-parts{
	position: relative;
	overflow: hidden;
	margin-top: 50px; 
}
.product-section-1-parts a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	text-decoration: none;
	color:#fff;
    padding: 6px 15px;
    font-family: 'Open sans',sans-serif;
    font-size: 25px;
    font-style: italic;
    z-index: 1000;
}

.product-section-1-parts img{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	z-index: 988;
	width: 100%;
}
.image-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:  rgba(34,37,51,0.48);
	z-index: 989;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}
.product-section-1-parts:hover .image-overlay{
	background-color:  rgba(34,37,51,0.68);
}
.product-section-1-parts:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	z-index: 990;
	border: 1px solid #fff;
	transition: all 0.4s ease 0.9s;
	-webkit-transition: all 0.4s ease 0.9s;
	-moz-transition: all 0.4s ease 0.9s;
	opacity: 0;
}
.product-section-1-parts:after{
	position: absolute;
	content: '';
	width: 90%;
	height: 90%;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	border:1px solid #fff;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	z-index: 991;
}
.product-section-1-parts:hover img{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
}
.product-section-1-parts:hover:before{
	width: 90%;
	height: 90%;
	opacity: 1;
}
.product-section-1-parts:hover:after{

	width: 30%;
	height: 10%;
}
/*product-section-1 ends here*/


/*product-section-2 starts here*/
.product-section-2-parts{
	position: relative;
	overflow: hidden;
	margin-top: 50px; 
}
.product-section-2-parts a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	text-decoration: none;
	color:#fff;
    padding: 25px;
    font-family: 'Lato',sans-serif;
    font-size: 35px;
    font-weight: bold;
    z-index: 1000;
}
.product-section-2-parts a:before,.product-section-2-parts a:after{
	position: absolute;
	content: '';
	width: 200px;
	height: 2px;
	background-color: #fff;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;

}
.product-section-2-parts a:before{
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

	-moz-transform: translateX(-50%);

}
.product-section-2-parts a:after{
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

	-moz-transform: translateX(-50%);

}
.product-section-2-parts a:hover:after{
	width: 80px;
}
.product-section-2-parts img{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	z-index: 988;
	width: 100%;
}
.image-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:  rgba(34,37,51,0.48);
	z-index: 989;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}
.product-section-2-parts:hover .image-overlay{
	background-color:  rgba(34,37,51,0.68);
}

.product-section-2-parts:hover img{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
}


/*product-section-2 ends here*/

/*
******************************
product style end
******************************
*/



/*
******************************
trending item style starts
******************************
*/
#trending-item{
	background-image: url("../images/item-bg.jpg");
	background-size: 100% 100%;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 55px 0px;

}
.trending-image img{
	width: 100%;
}
.trending-caption h4{
	font-family: 'Lato',sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #dc0000;
	margin-top: 25px;
}
.trending-caption p{
	font-family: 'Lato',sans-serif;
	color: #777777;

}
.trending-caption p:nth-child(2){
	font-family: 'Open sans',sans-serif;
	    letter-spacing: 2px;
	margin-top: 25px;
	padding-bottom: 20px; 
	position: relative;

}
.trending-caption p:nth-child(2):after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 30px;
	height: 1px;
	background:rgba(0,0,0,1);
}
.trending-caption p:nth-child(3){
	letter-spacing: 1px;
	margin-top: 25px;

    line-height: 1.3;
    text-align: justify;
}
.trending-caption p:nth-child(4){
	font-weight: bold;
	margin-top: 35px;

}
.trending-caption p:nth-child(5){
	letter-spacing: 1px;
	margin-top: 12px;
}
.button-1-size{
	margin-top: 135px;
}
.button-1-size li a{text-decoration: none;
    color: #000;
    border: 1px solid #000;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    padding: 10px 25px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

    -moz-transition: all 0.4s ease;
}
.button-2-shop{
	margin-top: 65px;

}
.button-2-shop li a{text-decoration: none;
    color: #000;
    border: 1px solid #000;
    font-family: 'Lato',sans-serif;
    padding: 10px 26px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

    -moz-transition: all 0.4s ease;
}
.button-1-size li a:hover,.button-1-size li a:active,.button-1-size li a:focus,
.button-2-shop li a:hover,
.button-2-shop li a:focus,
.button-2-shop li a:active{
	background-color: #333333;
	color: #fff;
}



/*trending slider starts here*/
#trending-item .carousel-inner > .item {    
	padding-top: 0px;
    margin-top: 50px;
    margin-bottom: 0px
}
#trending-item .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 90px;
}
#trending-item .carousel-indicators .active {
    background-color: transparent;
    border: 1px solid #dc0000;
}    
#trending-item .carousel-indicators li{
    background-color: #878787;
    width: 13px;
    height: 13px;
}



/*trending slider ends here*/


/*
******************************
trending item style end
******************************
*/


/*
******************************
blog style starts
******************************
*/
#blog{
	padding: 50px 0;
}
.blog-slider{
	margin-top: 50px; 
}
.single-item{
	margin-right: 15px;  
	margin-left: 15px;  
}
.owl-pagination{display: none;}
/*.two-slide-carousel{position: relative;}*/
.owl-theme .owl-controls .owl-buttons .owl-prev,.owl-theme .owl-controls .owl-buttons .owl-next{
	background: transparent;
    color: #c1c1c1;
    font-size: 100px;
    position: absolute;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
	left:-75px;

}
.owl-theme .owl-controls .owl-buttons .owl-next{
	right:-75px;
}
.owl-theme .owl-controls .owl-buttons{
	position: absolute;
    width: 100%;
    top: 30%;
}
.blog-image img{width: 100%;}

.blog-content a{
	text-decoration: none;	
}
.blog-content p a{
	color: #6e6e6e;	
    margin-bottom: 20px;	
}
.blog-content h1{margin:25px 0 20px 0; }
.blog-content h1 a{
	font-family: 'Lato',sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #dc0000;
}
.blog-content p:nth-child(2){
	color: #6e6e6e;
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    margin-bottom: 20px; 
}
.blog-content p:nth-child(3){
	font-family: 'Open sans',sans-serif;
    line-height: 1.34;
    color: #afafaf;
    text-align: justify;
    border-top: 1px solid rgba(221, 221, 221, 0.56);
    border-bottom: 1px solid rgba(221, 221, 221, 0.56);
    padding: 30px 0;
}


/*button style starts*/

.blog-content .btn{
	position: relative;
}
.blog-content .btn:after{
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.blog-content .btn-custom{
	font-family: 'Open sans',sans-serif;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 20px;
    outline: none;
    overflow: hidden; 
}
.blog-content .btn-custom:after{
		width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #000;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.blog-content .btn-custom:hover:after{
	height: 260%;
	opacity: 1;
}
.blog-content .btn-custom:hover,.blog-content .btn-custom:active{
	color: #fff;
	outline: none;
	background-color:transparent;
	border-color:#000;
}
.blog-content .btn-custom:active:after{
	height: 400%;
	opacity: 1;
}

/*button style ends*/


/*
******************************
blog style end
******************************
*/


/*
******************************
subscribe style starts
******************************
*/
#subscribe{
	background-image: url("../images/subscribe-bg.jpg");
	background-position: center 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 50px 0px;
}
#subscribe h1{
font-family: 'Open sans',sans-serif;
    color: #fff;
    font-size: 18px;
    padding-left: 15px;
}
.subscribe-form{
	margin-top: 25px; 
}
#subscribe .input-group-addon{
	padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border-radius: 0;
        border-color: #fff;
}
#subscribe .form-control{
	padding: 10px 15px;
    font-size: 15px;
    height: auto;
    font-family: 'Open sans',sans-serif;
    background: transparent;
    border-left: 0px;
    border-radius: 0px;
    border-color: #fff;
}

#subscribe .form-control:hover,
#subscribe .form-control:focus{
	outline: 0;
    -webkit-box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
    -moz-box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
    box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
    border-color: #fff;
}

input[type=text],textarea{
    color:#fff !important;
}
::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;  
}

:-ms-input-placeholder {  
   color: #fff !important;  
}


.subscribe-button .btn-custom{
    font-family: 'Open sans',sans-serif;
    background: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 15px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;

}

.subscribe-button .btn-custom:focus,.subscribe-button .btn-custom:active{
	outline:none;
	background: transparent;
	color: #fff;
}





/*
******************************
subscribe style end
******************************
*/

footer{
	padding: 40px 0;
}
footer p{
	color: #afafaf;
	font-family: 'Lato',sans-serif;
	word-spacing: 2px;
}
footer p a,footer p a:hover{
	color: #afafaf;
}
footer p i{
	color: #ff0000;
}